:root {
  --app-spacing: 50px;
}

.root {
  min-height: 100vh;
}

.header {
  background: white;
  padding-inline: var(--app-spacing);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.menu {
  flex: 1 1 0;
}

.content {
  padding-inline: var(--app-spacing);
}

@media screen and (max-width: 560px) {
  :root {
    --app-spacing: 18px;
  }
}
