.root {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  position: relative;
}

.root :global(.ant-card-cover) {
  height: 260px;
  overflow: hidden;
  position: relative;
}

.root :global(.ant-card-cover) img {
  min-width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.favoriteButton {
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 3;
}

.tags {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
}

.previewLoadingWrapper {
  display: block !important;
}

.previewLoadingWrapper :global(.ant-skeleton-image) {
  width: 100% !important;
  height: 300px !important;
}
