.root {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.filterTitle {
  margin: 0;
}

.fixedFilterTrigger {
  position: fixed;
  bottom: 16px;
  right: 16px;
}

.fixedButton {
  width: 80px !important;
  height: 80px !important;
  font-size: 36px !important;
}
